.main {
  max-width:850px;
  margin: 0 10% 0 10%;
  margin: auto;
  padding: 2% 5% 2% 5%;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #bbb; 
  background-color: rgb(217, 217, 217);
/*  _padding-top: 3%; */
}

body {
  margin: 0;
}
.pageright {
  width: 5%;
  float: right
}

.Boldname {
  font-size: 150%;
  font-weight: bold;
}

#main_last {
  border-bottom: 1px solid #999;
  padding-bottom: 4%;
}

#footer {
  max-width:850px;
  margin: auto;
  padding: 2% 5% 2% 5%;
  font-size: 80%;
  height: 30px;
}
.post {
  padding: 2% 0 2% 0;
  font-size: 80%;
  line-height: 150%;
}

img {
  vertical-align: middle;

}
p {
  margin-bottom: 5px;
}
ul {
  margin: 0;
  margin-top: 10px;
}
ul.li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration:none;
}
a:link, a:active, a:visited{
  color: #11C;
}
a:hover {
  color: rgb(214, 19, 19);
  /* border-bottom: 1px dashed #090; */
  padding-bottom: 1px;
}
table {
  margin: 0;
}
table td {
  padding: 0;
  padding-left: 50px;
  vertical-align: top;
}


